In [66]:
import os
import pandas as pd

In [67]:
suicide_csv = "../csvs/suicide.csv"
hdi_csv = "../csvs/hdi.csv"
country_continent_csv = "../csvs/countryContinent.csv"

In [68]:
suicide_df = pd.read_csv(suicide_csv)
hdi_df = pd.read_csv(hdi_csv, sep=";")
country_continent_df = pd.read_csv(country_continent_csv)

In [69]:
suicide = suicide_df.copy()
hdi = hdi_df.copy()
country_continent = country_continent_df.copy()

In [70]:
suicide.drop("HDI for year", axis=1, inplace=True)
suicide.drop("country-year", axis=1, inplace=True)
suicide.drop("generation", axis=1, inplace=True)
country_continent.drop("code_2", axis=1, inplace=True)
country_continent.drop("code_3", axis=1, inplace=True)
country_continent.drop("country_code", axis=1, inplace=True)
country_continent.drop("iso_3166_2", axis=1, inplace=True)
country_continent.drop("region_code", axis=1, inplace=True)
country_continent.drop("sub_region_code", axis=1, inplace=True)

In [71]:
countries = pd.merge(suicide,country_continent,on=["country"], how="inner")

In [72]:
result = pd.merge(countries,hdi, on=["country","year"], how="inner")
result.head()

,country,year,sex,age,suicides_no,population,suicides/100kpop,gdp-year,gdp-per-capita,continent,sub_region,hdi
0,Albania,2000,male,25-34 years,17,232000,7.33,"3,632,043,908",1299,Europe,Southern Europe,0.669
1,Albania,2000,male,55-74 years,10,177400,5.64,"3,632,043,908",1299,Europe,Southern Europe,0.669
2,Albania,2000,female,75+ years,2,37800,5.29,"3,632,043,908",1299,Europe,Southern Europe,0.669
3,Albania,2000,male,75+ years,1,24900,4.02,"3,632,043,908",1299,Europe,Southern Europe,0.669
4,Albania,2000,female,15-24 years,6,263900,2.27,"3,632,043,908",1299,Europe,Southern Europe,0.669

In [73]:
group = result.groupby(["country","year"]).count()
print(group)

                          sex  age  suicides_no  population  suicides/100kpop  \
country             year
Albania             2000   12   12           12          12                12
                    2001   12   12           12          12                12
                    2002   12   12           12          12                12
                    2003   12   12           12          12                12
                    2004   12   12           12          12                12
                    2005   12   12           12          12                12
                    2006   12   12           12          12                12
                    2007   12   12           12          12                12
                    2008   12   12           12          12                12
                    2009   12   12           12          12                12
                    2010   12   12           12          12                12
Antigua and Barbuda 2000   12   12           12          12                12
                    2001   12   12           12          12                12
                    2002   12   12           12          12                12
                    2003   12   12           12          12                12
                    2004   12   12           12          12                12
                    2005   12   12           12          12                12
                    2006   12   12           12          12                12
                    2007   12   12           12          12                12
                    2008   12   12           12          12                12
                    2009   12   12           12          12                12
                    2012   12   12           12          12                12
                    2013   12   12           12          12                12
                    2014   12   12           12          12                12
                    2015   12   12           12          12                12
Argentina           2000   12   12           12          12                12
                    2001   12   12           12          12                12
                    2002   12   12           12          12                12
                    2003   12   12           12          12                12
                    2004   12   12           12          12                12
...                       ...  ...          ...         ...               ...
United States       2013   12   12           12          12                12
                    2014   12   12           12          12                12
                    2015   12   12           12          12                12
Uruguay             2000   12   12           12          12                12
                    2001   12   12           12          12                12
                    2002   12   12           12          12                12
                    2003   12   12           12          12                12
                    2004   12   12           12          12                12
                    2005   12   12           12          12                12
                    2006   12   12           12          12                12
                    2007   12   12           12          12                12
                    2008   12   12           12          12                12
                    2009   12   12           12          12                12
                    2010   12   12           12          12                12
                    2012   12   12           12          12                12
                    2013   12   12           12          12                12
                    2014   12   12           12          12                12
                    2015   12   12           12          12                12
Uzbekistan          2000   12   12           12          12                12
                    2001   12   12           12          12                12
                    2002   12   12           12          12                12
                    2003   12   12           12          12                12
                    2004   12   12           12          12                12
                    2005   12   12           12          12                12
                    2009   12   12           12          12                12
                    2010   12   12           12          12                12
                    2011   12   12           12          12                12
                    2012   12   12           12          12                12
                    2013   12   12           12          12                12
                    2014   12   12           12          12                12

                           gdp-year  gdp-per-capita  continent  sub_region  \
country             year
Albania             2000         12              12         12          12
                    2001         12              12         12          12
                    2002         12              12         12          12
                    2003         12              12         12          12
                    2004         12              12         12          12
                    2005         12              12         12          12
                    2006         12              12         12          12
                    2007         12              12         12          12
                    2008         12              12         12          12
                    2009         12              12         12          12
                    2010         12              12         12          12
Antigua and Barbuda 2000         12              12         12          12
                    2001         12              12         12          12
                    2002         12              12         12          12
                    2003         12              12         12          12
                    2004         12              12         12          12
                    2005         12              12         12          12
                    2006         12              12         12          12
                    2007         12              12         12          12
                    2008         12              12         12          12
                    2009         12              12         12          12
                    2012         12              12         12          12
                    2013         12              12         12          12
                    2014         12              12         12          12
                    2015         12              12         12          12
Argentina           2000         12              12         12          12
                    2001         12              12         12          12
                    2002         12              12         12          12
                    2003         12              12         12          12
                    2004         12              12         12          12
...                             ...             ...        ...         ...
United States       2013         12              12         12          12
                    2014         12              12         12          12
                    2015         12              12         12          12
Uruguay             2000         12              12         12          12
                    2001         12              12         12          12
                    2002         12              12         12          12
                    2003         12              12         12          12
                    2004         12              12         12          12
                    2005         12              12         12          12
                    2006         12              12         12          12
                    2007         12              12         12          12
                    2008         12              12         12          12
                    2009         12              12         12          12
                    2010         12              12         12          12
                    2012         12              12         12          12
                    2013         12              12         12          12
                    2014         12              12         12          12
                    2015         12              12         12          12
Uzbekistan          2000         12              12         12          12
                    2001         12              12         12          12
                    2002         12              12         12          12
                    2003         12              12         12          12
                    2004         12              12         12          12
                    2005         12              12         12          12
                    2009         12              12         12          12
                    2010         12              12         12          12
                    2011         12              12         12          12
                    2012         12              12         12          12
                    2013         12              12         12          12
                    2014         12              12         12          12

                          hdi
country             year
Albania             2000   12
                    2001   12
                    2002   12
                    2003   12
                    2004   12
                    2005   12
                    2006   12
                    2007   12
                    2008   12
                    2009   12
                    2010   12
Antigua and Barbuda 2000    0
                    2001    0
                    2002    0
                    2003    0
                    2004    0
                    2005   12
                    2006   12
                    2007   12
                    2008   12
                    2009   12
                    2012   12
                    2013   12
                    2014   12
                    2015   12
Argentina           2000   12
                    2001   12
                    2002   12
                    2003   12
                    2004   12
...                       ...
United States       2013   12
                    2014   12
                    2015   12
Uruguay             2000   12
                    2001   12
                    2002   12
                    2003   12
                    2004   12
                    2005   12
                    2006   12
                    2007   12
                    2008   12
                    2009   12
                    2010   12
                    2012   12
                    2013   12
                    2014   12
                    2015   12
Uzbekistan          2000   12
                    2001   12
                    2002   12
                    2003   12
                    2004   12
                    2005   12
                    2009   12
                    2010   12
                    2011   12
                    2012   12
                    2013   12
                    2014   12

[1256 rows x 10 columns]

In [74]:
south_america = result.set_index("country")
#south_america = result.loc[["Brazil","Uruguay","Argentina","Chile"]]
south_america.head()

,year,sex,age,suicides_no,population,suicides/100kpop,gdp-year,gdp-per-capita,continent,sub_region,hdi
country,,,,,,,,,,,
Albania,2000,male,25-34 years,17,232000,7.33,"3,632,043,908",1299,Europe,Southern Europe,0.669
Albania,2000,male,55-74 years,10,177400,5.64,"3,632,043,908",1299,Europe,Southern Europe,0.669
Albania,2000,female,75+ years,2,37800,5.29,"3,632,043,908",1299,Europe,Southern Europe,0.669
Albania,2000,male,75+ years,1,24900,4.02,"3,632,043,908",1299,Europe,Southern Europe,0.669
Albania,2000,female,15-24 years,6,263900,2.27,"3,632,043,908",1299,Europe,Southern Europe,0.669